@import url(http://fonts.googleapis.com/css?family=Jacques+Francois);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

$screen-height: 624px;
$image-directory-path: "../static/landmark_images/"; //include trailing slash

p.landmark_text {
  padding: 80px;
  font-family: 'Jacques Francois', serif;
  font-size: 2em;
   height:100%;
}

#landmark_interface {
  position: fixed;
  right: 10px;
  width: 70px;
  height: 35px;
  z-index: 3001;
  top: 45%;

  #left_scroll {
    float: left;
    width: 50%;
    height: 100%;
    background: white url("../static/images/icons/icon-left.png");
    background-size: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    opacity: 0.5;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
  #right_scroll {
    float: left;
    width: 50%;
    height: 100%;
    background: white url("../static/images/icons/icon-right.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50%;
    opacity: 0.5;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }
  }
}

/* now a whitedrop */
.blackdrop {
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(255,255, 255);
  /* RGBa with 0.6 opacity */
  background-color: rgba(255, 255, 255, 0.9);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";

  -webkit-transition: all 0.5s linear;
     -moz-transition: all 0.5s linear;
      -ms-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
          transition: all 0.5s linear;
}

.checkerboard {
  background-color: #000;
  background: url(#{$image-directory-path}photos_of_tiles/tile_checkerboard_2.jpg);
  background-size: cover;
}

.checkerboard p{
  opacity: 1;
}

.tile_numbers {
  background-color: #000;
  background: url(#{$image-directory-path}photos_of_tiles/DSC03942.JPG);
  background-size: cover;
}

.tile_swirls {
  background-color: #000;
  background: url(#{$image-directory-path}photos_of_tiles/DSC03956.JPG);
  background-size: cover;
}

.tile_starbursts{
  background-color: #000;
  background: url(#{$image-directory-path}photos_of_tiles/DSC03974.JPG);
  background-size: cover;
}

.tile_maze {
  background-color: #fff;
  background: url(#{$image-directory-path}photos_of_tiles/DSC03906.JPG);
  background-size: cover;
}

.tile_maze p{
  opacity: 1;
  
}

.tile_star {
  background-color: #000;
  background: url(#{$image-directory-path}photos_of_tiles/DSC03981.JPG);
  background-size: cover;
}