.frame-list li{
  background-size: contain;
  background-color: #000000;
}


@for $i from 0 through 120 {
  $c: $i + 1;
  #people_walking_frame_list
    li:nth-of-type(#{$i}) {
      @if $i < 10 {
        background: url("http://192.168.10.132/~admin/images/discoveries_boat_1312x624/discoveries_boat_1312x62400#{$i}.png");
      } @else if $i < 100 {
        background: url("http://192.168.10.132/~admin/images/discoveries_boat_1312x624/discoveries_boat_1312x6240#{$i}.png");
      } @else {
        background: url("http://192.168.10.132/~admin/images/discoveries_boat_1312x624/discoveries_boat_1312x624#{$i}.png");
      }
    }
}

@for $i from 0 through 120 {
  $c: $i + 1;
  #river_boat_pan_frame_list
    li:nth-of-type(#{$i}) {
      @if $i < 10 {
        background: url("http://192.168.10.132/~admin/images/discoveries_still_1312x624/discoveries_still_1312x62400#{$i}.png");
      } @else if $i < 100 {
        background: url("http://192.168.10.132/~admin/images/discoveries_still_1312x624/discoveries_still_1312x6240#{$i}.png");
      } @else {
        background: url("http://192.168.10.132/~admin/images/discoveries_still_1312x624/discoveries_still_1312x624#{$i}.png");
      }
    }
}
