@import "colors";

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

#title_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: $dark_gray;
  text-align: center;
  overflow: hidden;

  #ctrl {
    margin-top: 2%;
    padding: 10px;

    input[type="radio"] {
      display: none;
    }

    label {
      padding: 10px;
      background-color: #566;
      color: #eee;
      box-shadow: none;
    }

    #ctrl_home + label {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    #ctrl_menu + label {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    input[type="radio"]:checked + label{
      color: #aaa;
      background-color: #eee;
      box-shadow: inset 0 0 8px #566;
    }
  }

  #cards {
    list-style: none;
    padding: 0;
    width: 100%;
    white-space: nowrap;

    li {
      display: inline-block;
      padding: 0;
      height: 100%;
      width: 100%;

      &#location {

        #logo {
          width: 20%;
        }
      }

      &#menu {
        padding-top: 1%;
        padding-bottom: 1%;
        background-color: white;
        border: 2px solid #ddd;
        border-radius: 4px;
        width: 70%;

        .menu_nav {
          font-family: 'Antic Didone', serif;
          float: left;
          width: 30%;
          margin: 0 1%;

          input[type="radio"] {
            display: none;

            &:checked + label {
              color: black;
            }
          }

          label {
            display: block;
            color: #aaa;
            border-bottom: 1px solid white;
            height: 40px;
            line-height: 40px;
            font-size: 2em;

            &:hover {
              color: #aaa;
            }
          }
        }

        .menu_content {
          float: left;
          width: 67%;
          text-align: center;

          .bg_img {
            padding: 2px;
            background-image: url("../static/images/menu/fish.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
            height: 300px;
            border-radius: 5px;
          }

          p {
            background-color: #eee;
            border-radius: 2px;
            margin: 1%;
            text-align: left;
            padding: 1%;
          }
        }
      }
    }
  }
}