@import "colors";

*, *:before, *:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-size: 0.9em;
  line-height: 1.4;
  background-color: green;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}

::-webkit-scrollbar-track-piece  {
  background-color: #eee;
}

::-webkit-scrollbar-thumb:vertical {
  background: white url(scrollbar_thumb_bg.png) no-repeat center;
}

.divider {
  display: block;
  margin: 0 auto;
  width: 42px;
}

#opaque_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  opacity: 0;

  &.active {
    display: block;
    opacity: 0.6;
    z-index: 3000;
  }
}

#social_media {
  position: fixed;
  list-style: none;
  left: 3%;
  width: 120px;
  top: 35%;
  height: 40px;
  opacity: 0.5;
  background-color: white;

  &:hover, &.hover {
    opacity: 1;
    box-shadow: 0 8px 6px -6px black;
  }
}

#floating_nav {
  position: fixed;
  left: 3%;
  background-color: white;
  opacity: 0.5;
  color: black;
  z-index: 2000;

  &:hover, &.hover {
    opacity: 1;
    background-color: white;
    color: black;
    box-shadow: 0 8px 6px -6px black;
  }

  #logo {
    left: 5%;
    width: 100px;
    height: 100px;
    background: url("../static/images/eatntravel_lisbon_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px;
    margin-top: 35px;

    &.logo_menu {
      background: url("../static/images/eatntravel_lisbon_2.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.logo_locations {
      background: url("../static/images/eatntravel_lisbon_3.png");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &.logo_about {
      background: url("../static/images/eatntravel_lisbon_4.png");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  #list {
    list-style: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    padding: 0;

    li {
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      color: #333;

      &:hover {
        background-color: #aaa;
        color: white;
        border-left: 4px solid teal;
        border-right: 4px solid teal;
      }
    }
  }
}

#map_view {
  z-index: 3000;

  #map_tour {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    transition: height 500ms;

    &.active {
      visibility: visible;
      z-index: 3000;
    }
  }

  #bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3000;

    #tab {
      background-color: white;
      width: 200px;
      height: 40px;
      margin: 0 auto;
      text-align: center;
      line-height: 40px;
      cursor: pointer;
    }

    #tab_content {
      height: 0px;
      background-color: white;
      transition: height 500ms;
      overflow: hidden;
      text-align: center;

      &.active {
        height: 250px;
        z-index: 3000;
      }

      #links_landmarks {
        list-style: none;
        padding: 50px;

        .link_landmark {
          display: inline-block;
          margin-top: 10px;
          padding-top: 10px;

          img {
            height: 100px;
            margin-bottom: 10px;

            &#start_point {
              width: 70px;
              height: 35px;
            }

            &#end_point {
              width: 70px;
              height: 35px;
              -webkit-transform: scaleX(-1);
            }
          }

          &:hover {
            cursor: pointer;
            background-color: #eee;
          }
        }
      }
    }
  }
}

#card_menu, #card_location, #card_about {
  position: fixed;
  width: 71%;
  background-color: white;
  left: 15%;
  top: -100%;
  height: 90%;
  box-shadow: 0 8px 6px -6px black;
  transition: top 500ms;
  text-align: center;
  overflow: hidden;
  z-index: 2500;

  &.active {
    top: 0%;
    z-index: 3000;
  }

  .menu_bar {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 5px;
    margin-bottom: 5px;

    .icon_close {
      float: right;
      background: url("../static/images/icons/icon-close.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }

  #menu_sections {
    display: none;
    list-style: none;
    padding: 0;
    margin-top: 10px;

    li {
      display: inline;
    }
  }

  #dishes {
    float: left;
    width: 68%;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 1.5%;
    height: 442px;
    overflow-y: scroll;

    .menu_sections {
      list-style: none;
      padding: 0;
      overflow: hidden;
      border: 1px solid #fff;
      padding-top: 10px;

      .section_title {
        float: left;
        width: 30%;
        font-size: 1.2em;
      }

      .section_dishes {
        float: left;
        width: 70%;

        .dishes {
          list-style: none;
          padding: 0;
          text-align: left;

          li {
            padding: 5px;
            padding-left: 10px;

            .short_desc {
              margin-top: 5px;
              width: 400px;
            }

            .dish_info {
              display: none;
            }

            &:hover {
              cursor: pointer;
              background-color: #eee;
            }
          }
        }

      }
    }
  }

  #dish_expand {
    float: left;
    width: 28%;
    margin-top: 20px;
    height: 442px;

    img {
      width: 97%;
      margin-top: 1%;
    }

    p {
      margin: 5px;
      text-align: left;
      font-size: 0.9em;
    }
  }

  #menu_footer, #location_footer, #about_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10px;
  }

  #menu_footer {
    background: url("../static/images/tiles/tile_2.png");
  }

  #location_footer {
    background: url("../static/images/tiles/tile_3.png");
    background-size: 20%;
    background-position: 20% 40%;
    background-repeat: repeat;
  }

  #about_footer {
    background: url("../static/images/tiles/tile_4.png");
  }
}

#card_location {
  #location_map {
    width: 100%;
    height: 400px;
  }

  #location_info {
    li {
      list-style: none;
      border: 1px solid #eee;
      width: 400px;
      margin: 20px auto;
    }
  }
}

#threed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
  z-index: -1;
  overflow: hidden;

  #ship {
    width: 1366px;
  }

  #video {
    height: 100%;
  }
}