<h1>Hello, world!</h1>

<div class="row">
			<div class="large-4 columns">
        <p>Sample the regional cuisines</p>
			</div>
			<div class="large-4 columns">
			  <h2>See</h2>
			  Porthole here
			</div>
			<div class="large-4 columns">
			</div>
		</div>
		<hr />
				
		<div class="row">
			<div class="large-4 columns">
			  &nbsp;
			</div>
			<div class="large-4 columns">
  		  <div class="">
  			  <h2>Taste</h2>
  			  <a href="#" data-reveal-id="myModal">Click Me For A Menu</a>
  		  </div>
			</div>
			<div class="large-4 columns">
			</div>
		</div>
