/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */ //= require foundation_and_overrides
html{
  margin: 0;
  padding: 0;
}

body{
  height: 100%;
  background-color: #d8eff9;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: block;
}

#logo{
  background: url('images/eatntravel.png') no-repeat;
  background-size: contain;
}

#logo > h1{
  display:none;
}

#inside{
  min-height: 460px;
  position: absolute;
  overflow: hidden;
  display: table;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: absolute;
  height: 100%;
  z-index: -999;
}

#outside{
  background: url("bubbles.png") repeat;
  height: 1000px;
  min-height: 1000px;
  width: 100%;
  top: 0;
  position: absolute;
  z-index: -1000;
}

#porthole_container{
  height: 300px;
  min-height: 300px;
}

#porthole{
  
}

#porthole_left{
}

#porthole_right{
}